/* body {
    background: blue;
} */

/* main colours */
/* green (#00e676), orange (#E6650B), magenta (#E60B8C), dark green (#1b5e20), light green (##B9F6CA) and other text uses darkslategrey. */

/* navbar */
.nav-extended {
    border-bottom: 5px solid #1b5e20;
}

nav .brand-logo{
    margin: 0 20px;
    color: #1b5e20;
    font-weight: 600;
}

nav ul a {
    color: #1b5e20;
    font-weight: 500;
}

.fa-bars {
    color: #1b5e20;
}

h3 {
    color: #1b5e20
}

.flashes h4 {
    line-height: 2; 
}

/* home page */

/* register page */
.card-panel {
    border: 1px #1b5e20 dashed;
    border-radius: 40px;
}

/* login page */

/* add review page */
[type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative;
    opacity: 1; 
    pointer-events: auto;   
}

.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
    top: .5rem;
}

.input-field.col label {
    margin-left: 3rem;
    left: .75rem;
    color: #1b5e20;
    position: absolute;
    top: 0;
    font-size: 1rem;
    cursor: text;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(12px);
}

.input-field2 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.input-field2 .prefix {
    /* position: absolute; */
    width: 3rem;
    font-size: 2rem;
    /* -webkit-transition: color .2s; */
    /* transition: color .2s; */
    /* top: .5rem; */
}

.input-field2.col label {
    /* margin-left: 3rem;
    left: .75rem;
    color: #9e9e9e;
    position: absolute;
    top: 0;
    font-size: 1rem;
    cursor: text;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(12px); */
}

.label2 {
    margin-left: 3rem;
    left: .75rem;
    color: #1b5e20;
    position: absolute;
    top: 0;
    font-size: 1rem;
    cursor: text;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(12px);
}

/* add book page */

/* manage genres page */


