/* body {
    background: blue;
} */

/* main colours */
/* green (#00e676), orange (#E6650B), magenta (#E60B8C), dark green (#1b5e20), light green (##B9F6CA) and other text uses darkslategrey. */

/* navbar */
.nav-extended {
    border-bottom: 5px solid #1b5e20;
}

nav .brand-logo{
    margin: 0 20px;
    color: #1b5e20;
    font-weight: 600;
}

nav ul a {
    color: #1b5e20;
    font-weight: 500;
}

.fa-bars {
    color: #1b5e20;
}

h3 {
    color: #1b5e20
}

.flashes h4 {
    line-height: 2; 
}

/* home page */

/* register page */
.card-panel {
    border: 1px #1b5e20 dashed;
    border-radius: 40px;
}

/* login page */

/* add review page */

/* add book page */

/* manage genres page */


