{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Edit Review</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
        <!-- select book -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix green-text text-darken-4"></i>
                <!-- make user be unable to change book title for the review they are editing -->
                <select id="book_title" name="book_title" class="validate" required>
                    <option value="" disabled>Choose Book</option>
                    {% for book in books %}
                        {% if book.book_title == review.book_title %}
                            <option value="{{ book.book_title }}" selected>{{ book.book_title }} by {{ book.author }}</option>
                        {% else %}
                            <option value="{{ book.book_title }}">{{ book.book_title }} by {{ book.author }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="book_title">Book Title</label>
            </div>
        </div>
        <!-- Recommend -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-thumbs-up prefix green-text text-darken-4"></i>
                <select id="recommend" name="recommend" class="validate" required>
                    <option value="" disabled>Choose Option</option>
                    {% if review.recommend == "Yes" %}
                        <option value="Yes" selected>Yes</option>
                        <option value="No">No</option>
                    {% else %}
                        <option value="Yes">Yes</option>
                        <option value="No" selected>No</option>
                    {% endif %}
                </select>
                <label for="recommend">Would you recommend this book to others?</label>
            </div>
        </div>
        <!-- stars out of 5 -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-star prefix green-text text-darken-4"></i> 
                <select id="stars" name="stars" class="validate" required>
                    <option value="" disabled>Choose Option</option>
                    {% if review.stars == "1" %}
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    {%  elif review.stars== "2" %}
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    {%  elif review.stars== "3" %}
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    {%  elif review.stars== "4" %}
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" selected>4</option>
                        <option value="5">5</option>
                    {%  elif review.stars== "5" %}
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5</option>
                    {% endif %}
                </select>
                <label for="stars">Stars out of 5</label>
            </div>
        </div>
        <!-- comment -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix green-text text-darken-4"></i>
                <textarea id="comment" name="comment" minlength="10"
                    maxlength="300" class="materialize-textarea validate" required>
                {{- review.comment -}}
                </textarea>
                <label for="comment">Review Comment: </label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_reviews') }}" class="btn-large pink darken-3">
                    Cancel <i class="fas fa-times-circle right"></i></a>
                <button type="submit" class="btn-large green darken-4">
                    Update Review <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}