{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Edit Review</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
        <!-- select book -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix teal-text text-darken-4"></i>
                <!-- make user be unable to change book title for the review they are editing -->
                <select id="book_title" name="book_title" class="validate" required>
                    <option value="" disabled>Choose Book</option>
                    {% for book in books %}
                        {% if book.book_title == review.book_title %}
                            <option value="{{ book.book_title }}" selected>{{ book.book_title }} by {{ book.author }}</option>
                        {% else %}
                            <option value="{{ book.book_title }}">{{ book.book_title }} by {{ book.author }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="book_title">Book Title</label>
            </div>
        </div>
        <!-- Recommend -->
        <div class="row">
            <div class="input-field2 col s12">
                <i class="fas fa-thumbs-up prefix teal-text text-darken-4"> </i> <span class="label2">Would you recommend this book to others:</span>
                <br>
                <input id="recommend" name="recommend" type="radio" value="Yes" checked >
                <label for="Yes">Yes</label>
                <br>
                <input id="recommend" name="recommend" type="radio" value="No" >
                <label for="No">No</label>
            </div>
        </div>
        <!-- stars out of 5 -->
        <div class="row">
            <div class="input-field2 col s12">
                <i class="fas fa-star prefix teal-text text-darken-4"> </i> <span class="label2">Stars out of 5:</span>
                <br>
                <input id="stars" name="stars" type="radio" value="1">
                <label for="1">1</label>
                <br>
                <input id="stars" name="stars" type="radio" value="2">
                <label for="2">2</label>
                <br>
                <input id="stars" name="stars" type="radio" value="3">
                <label for="3">3</label>
                <br>
                <input id="stars" name="stars" type="radio" value="4" checked>
                <label for="4">4</label>
                <br>
                <input id="stars" name="stars" type="radio" value="5">
                <label for="5">5</label>
            </div>
        </div>
        <!-- comment -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix teal-text text-darken-4"></i>
                <textarea id="comment" name="comment" minlength="10"
                    maxlength="300" class="materialize-textarea validate" required>
                {{- review.comment -}}
                </textarea>
                <label for="comment">Review Comment: </label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large green darken-4 text-shadow">
                    Update Review <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}