{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Register</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
      <div class="card-panel">
        <!-- username -->
          <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-solid fa-user prefix green-text text-darken-4"></i>
              <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required class="validate">
              <label for="username">Username</label>
            </div>
          </div>
          <!-- age category -->
          <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-solid fa-child prefix green-text text-darken-4"></i>
                <select id="age_category" name="age_category" class="validate" required>
                    <option value="" disabled selected>Choose age category</option>
                        <option value="15 or Under">15 or Under</option>
                        <option value="16-24 Years Old">16-24 Years Old</option>
                        <option value="25-34 Years Old">25-34 Years Old</option>
                        <option value="35-44 Years Old">35-44 Years Old</option>
                        <option value="45-54 Years Old">45-54 Years Old</option>
                        <option value="55-64 Years Old">55-64 Years Old</option>
                        <option value="65 or Older">65 or Older</option>
                        <option value="Other">Other</option>
                </select>
                <label for="age_category">What is your age category?</label>
            </div>
        </div>
        <!-- gender -->
        <div class="row">
          <div class="input-field col s12">
              <i class="fas fa-solid fa-venus-mars prefix green-text text-darken-4"></i> 
              <select id="gender" name="gender" class="validate" required>
              <option value="" disabled selected>Choose your gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
              <label for="gender">What is your gender</label>
            </div>
        </div> 
        <!-- password -->
        <div class="row">
            <div class="input-field col s12">
              <i class="fas fa-solid fa-lock prefix green-text text-darken-4"></i>
              <input id="password" name="password" type="password" minlength="5" maxlength="50" pattern="^[a-zA-Z0-9]{5,50}$" required class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <!-- register -->
          <div class="row">
            <button type="submit" class="col s12 btn btn-large green darken-4">
              Register
              <i class="fas fa-sign-in-alt"></i>
            </button>
          </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col c12">
      <p class="center-align">
        Already Registered?
        <a href="{{ url_for('login') }}" class="green-text text-lighten-1">Log In</a>
      </p>
    </div>
  </div>

{% endblock %}